.dash-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    

    .post-search {
        display: flex;
        justify-content: space-between;
        width: 100%;

        input[type=text] {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            transition: width 0.4s ease-in-out;
        }

        .search-button {
            background-color: #4CAF50;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            padding-left: 20px;
            margin-left: 20px;
        }
    }

}

