.post-view {
    width: 80%;
    height: 100vh;
    margin: auto;
    // background-color: rgb(213, 213, 213);
    border-radius: 10px;

    .toast-container {
        z-index: 9999;
    }
    .toast-body {
        padding: var(--bs-toast-padding-x);
        word-wrap: break-word;
        color: white;
    }

    .toast {
        color: var(--app-white);

        &.bg-light {
            color: var(--app-dark-gray);
        }

        .toast-btn-area {
            display: flex;
            justify-content: flex-end;

            button+button {
                margin-left: 1rem;
            }
        }
    }

    .post-view__title {
        // padding: 0 0 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;

        .menu{
            cursor: pointer;
            padding: 9px 30px;
        }
       
    }

    .post-owner {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 35px;
        border-top: 5px solid #dddddd;
        border-bottom: 5px solid #dddddd;
        padding: 10px 10px;

        .created-date {
            font-size: 15px;
            font-weight: 500;
            font-family: cursive;
            text-align: center;
        }

        .like-bookmark {
            display: flex;
            justify-content: space-between;
            width: 20%;
            align-items: center;

            .like-dislike{
                width: 100%;

                .like, .dislike{
                    font-size: 25px;
                    padding: 15px;
                    cursor: pointer;
                }
            }

            .bookmark {
                font-size: 25px;
                cursor: pointer;
            }
        }

        .owner-name {
            font-size: 25px;
            font-weight: 700;
            font-family: cursive;
        }
    }

    .description {
        margin-top: 5%;
        display: inline-block;
        white-space: break-spaces;
        width: 100%;
    }

    .post-image {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        background-size: cover;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        box-shadow: 0 0 13px black;
        margin-top: 40px;

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
}